:root {
    --blue-color: #1da1f2;
    --purple-color: #9371ad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Autour One', sans-serif;
}

div.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-bottom: 6rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

form > input {
    margin-bottom: 1rem;
    padding: 0.3rem;
    font-size: 1.1rem;
}

button {
    padding: 8px 12px;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

button:hover {
    border-color: #000;
}

input,
button {
    height: 40px;
}

h2 {
    margin: 2rem 0;
}
